<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xidian.myapplication1">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/applogin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeMainActivity" />
        <activity android:name=".List_Activity" />
        <activity android:name=".Ok_http" />
        <activity android:name=".YuyinXf" />
        <activity android:name=".Web_View" />
        <activity android:name=".LoginActivity" />
    </application>
</manifest>